{{ header }}
<div class="wrap_content">
    {{ content_top }}
    <div class="container">
        <div class="row">
            {{ column_left }}
            <div class="center_content_resp">
                <div class="clearfix console_wrap">
                    <div class="clearfix search_panel">
                        <div class="heads">
                            <h2>{{ heading_title }}</h2>
                            <ul class="breadcrumb clearfix">
                                {% for breadcrumb in breadcrumbs %}
                                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="wrap_news">
                            {% if notifications %}
                                {% for notification in notifications %}
                                    <div class="item_news {% if notification.viewed %}reed{% endif %} clearfix">
                                        <div class="icon_mass">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="notification_{{ notification.notification_id }}" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512"><g><path d="m21.379 16.913c-1.512-1.278-2.379-3.146-2.379-5.125v-2.788c0-3.519-2.614-6.432-6-6.92v-1.08c0-.553-.448-1-1-1s-1 .447-1 1v1.08c-3.387.488-6 3.401-6 6.92v2.788c0 1.979-.867 3.847-2.388 5.133-.389.333-.612.817-.612 1.329 0 .965.785 1.75 1.75 1.75h16.5c.965 0 1.75-.785 1.75-1.75 0-.512-.223-.996-.621-1.337z"/><path d="m12 24c1.811 0 3.326-1.291 3.674-3h-7.348c.348 1.709 1.863 3 3.674 3z"/></g></svg>
                                        </div>
                                        <div class="text_newd clearfix">
                                            <p>{{ notification.text }}</p>
                                            {% if notification.comment %}<p class="notification_mass">{{ notification.comment }}</p>{% endif %}
                                            <div class="bodyst clearfix">
                                                <span class="date">{{ notification.date_added }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        {% if limit < total_notifications %}
                        <div class="more">
                            <a class="btn-continue" href="{{ continue }}">{{ button_continue }}</a>
                        </div>
                        {% endif %}


                    </div>
                </div>
            </div>
            {{ column_right }}
        </div>
    </div>
    {{ content_bottom }}

    <script>
        $(document).on('click', '.btn-continue', function (e){
            e.preventDefault();
            var temp = $('.wrap_news .item_news');

            $('.wrap_news').load($(this).attr('href') + " .wrap_news > *", function(response, status, xhr) {
                $('.wrap_news').prepend(temp);
            });
        });
    </script>
</div>

{{ footer }}