{{ header_landing }}
{{ column_left }}
{{ content_top }}




<div class="wrap_content">
    <section class="register">
        <div class="container">
            <div class="row rowall">
                <div class="col-7">
                    <div class="content_f tab-login current" >
                        <div class="img_wrap">
                            <img src="../image/landing/fon3.webp">
                        </div>
                        <div class="text_wrap">
                            <h3>Вход</h3>
                            <span>Чтобы войти в личный кабинет, необходимо ввести зарегистрированный E-mail и пароль. Если вы забыли пароль, то воспользуйтесь соответствующей вкладкой "Забыли пароль".</span>
                        </div>
                    </div>
                    <div class="content_f tab-register">
                        <div class="img_wrap">
                            <img src="../image/landing/studentrevert.webp">
                        </div>
                        <div class="text_wrap">
                            <h3>Регистрация</h3>
                            <p>Станьте частью большой семьи Studentik</p>
                            <span>Чтобы зарегистрироваться на сайте, необходимо указать действующую почту и желаемый пароль. После регистрации необходимо подтвердить свою почту, перейдя по ссылке в письме.</span>
                        </div>
                    </div>
                    <div class="content_f tab-forgotten">
                        <div class="img_wrap">
                            <img src="../image/landing/password.svg">
                        </div>
                        <div class="text_wrap">
                             <h3>Забыли пароль?</h3>
                             <p>Для восстановления доступа укажите e-mail вашей учетной записи и желаемый новый пароль.</p>
                             <span>Если не можете вспомнить свой E-mail, рекомендуем связаться с технической поддержкой  и решить данную проблему.</span>
                        </div>
                    </div>

                </div>
                <div class="col-5">
                    <div class="clearfix tabs_regis" >
                        <ul class="tabs clearfix">
                            <li class="tab-link {% if act == 'login' %}current{% endif %}" data-tab="tab-login">{{ text_login }}</li>
                            <li class="tab-link {% if act == 'register' %}current{% endif %}" data-tab="tab-register">{{ text_register }}</li>
                            <li class="tab-link {% if act == 'forgotten' %}current{% endif %}" data-tab="tab-forgotten">{{ text_forgotten }}</li>
                        </ul>
                        <div id="tab-login" class="tab-content {% if act == 'login' %}current{% endif %}">
                            <div class="col_in clearfix">
                                <form id="form-login" action="{{ action_login }}" method="post">
                                    <div class="includ clearfix">
                                        <i class="fas fa-user"></i>
                                        <input type="text" name="login" placeholder="{{ entry_login }}">
                                    </div>
                                    <div class="includ clearfix">
                                        <i class="fas fa-lock"></i>
                                        <input type="password" name="password" placeholder="{{ entry_password }}">
                                    </div>
                                    <div class="includ clearfix btn-loader-wrapper">
                                        <input type="hidden" name="redirect" value="{{ redirect }}">
                                        <button type="submit">{{ button_login }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="tab-register" class="tab-content {% if act == 'register' %}current{% endif %}">
                            <div class="col_in clearfix">
                                <form id="form-register" action="{{ action_register }}" method="post">
                                    <div class="includ clearfix">
                                        <i class="fas fa-envelope"></i>
                                        <input type="text" name="email" placeholder="{{ entry_email }}">
                                    </div>
                                    <div class="includ clearfix">
                                        <i class="fas fa-lock"></i>
                                        <input type="password" name="password" placeholder="{{ entry_password }}">
                                    </div>
                                    {% if customer_groups %}
                                        <div class="includ clearfix radio">
                                            {% for customer_group in customer_groups %}
                                                {% if customer_group.customer_group_id == customer_group_id %}
                                                <label class="container_lan">{{ customer_group.name }}
                                                    <input type="radio" id="radio_customer_group{{ customer_group.customer_group_id }}"
                                                           name="customer_group_id" value="{{ customer_group.customer_group_id }}" checked>
                                                    <span class="checkmark_lan"></span>
                                                </label>
                                            {% else %}
                                                <label class="container_lan">{{ customer_group.name }}
                                                    <input  type="radio" id="radio_customer_group{{ customer_group.customer_group_id }}"
                                                            name="customer_group_id" value="{{ customer_group.customer_group_id }}">
                                                    <span class="checkmark_lan"></span>
                                                </label>
                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                    {% endif %}
                                    <div class="includ clearfix btn-loader-wrapper">
                                        <input type="hidden" name="agree" value="1">
                                        <button type="submit">{{ button_register }}</button>
                                    </div>
                                    <span class="igree">{{ text_agree }}</span>
                                </form>

                            </div>
                        </div>
                        <div id="tab-forgotten" class="tab-content{% if act == 'forgotten' %}current{% endif %}">

                            <form id="form-forgotten" action="{{ action_forgotten }}" method="post">
                                <div class="includ clearfix">
                                    <i class="fas fa-envelope"></i>
                                    <input type="text" name="email" placeholder="{{ entry_email }}">
                                </div>
                                <div class="includ clearfix btn-loader-wrapper">
                                    <button type="submit">Восстановить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{ content_bottom }}










<script>
    $(document).on('submit', '#form-login', function (e) {
        e.preventDefault();
        $('.alert, .error').remove();

        $.ajax({
            url : $(this).attr('action'),
            method : $(this).attr('method'),
            data : $(this).serialize(),
            dataType : 'json',
            beforeSend : function () {
                $('#form-login button[type=submit]').btnLoading('on');
            },
            success : function (json) {

                if (!json['success']) {
                    $('#form-login button[type=submit]').btnLoading('off');
                }

                if (json['error_warning']) {
                    $('#form-login button[type=submit]').btnLoading('off');
                }
                if (json['success']) {
                    /*$('#form-login').prepend('<span class="error">' + json['success'] + '</span>');*/
                    if (json['redirect']) {
                        location.href = json['redirect'];
                    }
                }
            }
        });
    });
</script>
<script>
    $(document).on('submit', '#form-register', function (e) {
        e.preventDefault();

        $('.alert, .error').remove();

        var error = 0;

        if (!$('#form-register').find('input[name=email]').val()) {
            $('#form-register').find('input[name=email]').after('<span class="error">{{ error_email }}</span>');
            error = 1;
        }

        if (!$('#form-register').find('input[name=password]').val()) {
            $('#form-register').find('input[name=password]').after('<span class="error">{{ error_password }}</span>');
            error = 1;
        }

        if (!error) {
            $.ajax({
                url: $(this).attr('action'),
                method: $(this).attr('method'),
                data: $(this).serialize(),
                dataType: 'json',
                beforeSend : function () {
                    $('#form-register button[type=submit]').btnLoading('on');
                },
                success: function (json) {
                    if (!json['success']) {
                        $('#form-register button[type=submit]').btnLoading('off');
                    }
                    if (json['error_warning']) {
                        $('#form-register').prepend('<div class="error">' + json['error_warning'] + '</div>');
                    }
                    if (json['error_email']) {
                        $('#form-register').find('input[name=email]').after('<div class="error">' + json['error_email'] + '</div>');
                    }
                    if (json['error_password']) {
                        $('#form-register').find('input[name=password]').after('<div class="error">' + json['error_password'] + '</div>');
                    }
                    if (json['error_customer_group_id']) {
                        $('#form-register').find('input[name=customer_group_id]').parent().append('<div class="error">' + json['error_customer_group_id'] + '</div>');
                    }
                    if (json['success']) {
                        /*$('#form-register').prepend('<div class="alert alert-success">' + json['success'] + '</div>');*/
                        if (json['redirect']) {
                            location.href = json['redirect'].replace('&amp;','&');
                        }
                    }
                }
            });
        }
    });
</script>
<script>
    $(document).on('submit', '#form-forgotten', function (e) {
        e.preventDefault();
        $('.alert, .error').remove();

        $.ajax({
            url : $(this).attr('action'),
            method : $(this).attr('method'),
            data : $(this).serialize(),
            dataType : 'json',
            beforeSend : function () {
                $('#form-forgotten button[type=submit]').btnLoading('on');
            },
            success : function (json) {

                if (!json['success']) {
                    $('#form-forgotten button[type=submit]').btnLoading('off');
                }
                if (json['error_warning']) {
                    $('#form-forgotten').prepend('<div class="error">' + json['error_warning'] + '</div>');
                }
                if (json['success']) {
                    $('#form-forgotten').prepend('<div class="alert alert-success">' + json['success'] + '</div>');
                    if (json['redirect']) {
                        location.href = json['redirect'];
                    }
                }
            }
        });
    });
</script>
{{ footer }}
