



{{ header }}


<div class="wrap_content">
    {{ content_top }}
    <div class="container">
        <div class="row">
            {{ column_left }}
            <div class="center_content_resp">
                <div class="clearfix console_wrap">
                    <div class="clearfix search_panel">
                        <div class="heads">
                            <h2>{{ heading_title }}</h2>
                            <ul class="breadcrumb clearfix">
                                {% for breadcrumb in breadcrumbs %}
                                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="promocode_wrap">
                            <div class="item_promo clearfix ">
                                <div class="panel_pr">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="511pt" version="1.1" viewBox="-34 1 511 511.99899" width="511pt">
                                        <g id="surface1">
                                            <path d="M 222.152344 0 L 0.5 128 L 0.5 383.996094 L 222.152344 512 L 443.808594 383.996094 L 443.808594 128 Z M 136.5625 296.351562 L 115.335938 317.582031 L 53.757812 256 L 115.335938 194.421875 L 136.5625 215.648438 L 96.210938 256 Z M 200.25 333.375 L 173.398438 319.949219 L 244.058594 178.625 L 270.910156 192.050781 Z M 328.972656 317.578125 L 307.742188 296.351562 L 348.097656 256 L 307.742188 215.648438 L 328.972656 194.417969 L 390.550781 256 Z M 328.972656 317.578125 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"/>
                                        </g>
                                    </svg>
                                </div>
                                <div class="panel_pr">
                                    <p>STUDENTIK10</p>
                                </div>
                                <div class="panel_pr">
                                    <span>-10%</span>
                                </div>
                                <div class="panel_pr inferno">
                                    <a data-toggle="modal" data-target="#promoModal-1" class="info">
                                      i
                                    </a>
                                </div>
                                <div class="panel_pr">
                                    <p class="status_prom active">активирован</p>
                                </div>
                            </div>


                            <div class="item_promo clearfix">
                                <div class="panel_pr">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="511pt" version="1.1" viewBox="-34 1 511 511.99899" width="511pt">
                                        <g id="surface1">
                                            <path d="M 222.152344 0 L 0.5 128 L 0.5 383.996094 L 222.152344 512 L 443.808594 383.996094 L 443.808594 128 Z M 136.5625 296.351562 L 115.335938 317.582031 L 53.757812 256 L 115.335938 194.421875 L 136.5625 215.648438 L 96.210938 256 Z M 200.25 333.375 L 173.398438 319.949219 L 244.058594 178.625 L 270.910156 192.050781 Z M 328.972656 317.578125 L 307.742188 296.351562 L 348.097656 256 L 307.742188 215.648438 L 328.972656 194.417969 L 390.550781 256 Z M 328.972656 317.578125 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"/>
                                        </g>
                                    </svg>
                                </div>
                                <div class="panel_pr">
                                    <p>STUDENTIK10</p>
                                </div>
                                <div class="panel_pr">
                                    <span>-10%</span>
                                </div>
                                <div class="panel_pr inferno">
                                    <a data-toggle="modal" data-target="#promoModal-1" class="info">
                                        i
                                    </a>
                                </div>
                                <div class="panel_pr">
                                    <p class="status_prom active ">активирован</p>
                                </div>
                            </div>
                            <div class="item_promo clearfix">
                                <div class="panel_pr">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="511pt" version="1.1" viewBox="-34 1 511 511.99899" width="511pt">
                                        <g id="surface1">
                                            <path d="M 222.152344 0 L 0.5 128 L 0.5 383.996094 L 222.152344 512 L 443.808594 383.996094 L 443.808594 128 Z M 136.5625 296.351562 L 115.335938 317.582031 L 53.757812 256 L 115.335938 194.421875 L 136.5625 215.648438 L 96.210938 256 Z M 200.25 333.375 L 173.398438 319.949219 L 244.058594 178.625 L 270.910156 192.050781 Z M 328.972656 317.578125 L 307.742188 296.351562 L 348.097656 256 L 307.742188 215.648438 L 328.972656 194.417969 L 390.550781 256 Z M 328.972656 317.578125 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"/>
                                        </g>
                                    </svg>
                                </div>
                                <div class="panel_pr">
                                    <p>STUDENTIK10</p>
                                </div>
                                <div class="panel_pr">
                                    <span>-10%</span>
                                </div>
                                <div class="panel_pr inferno">
                                    <a data-toggle="modal" data-target="#promoModal-2" class="info">
                                        i
                                    </a>
                                </div>
                                <div class="panel_pr">
                                    <p class="status_prom">не активирован</p>
                                </div>
                            </div>
                            <div class="item_promo clearfix">
                                <div class="panel_pr">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="511pt" version="1.1" viewBox="-34 1 511 511.99899" width="511pt">
                                        <g id="surface1">
                                            <path d="M 222.152344 0 L 0.5 128 L 0.5 383.996094 L 222.152344 512 L 443.808594 383.996094 L 443.808594 128 Z M 136.5625 296.351562 L 115.335938 317.582031 L 53.757812 256 L 115.335938 194.421875 L 136.5625 215.648438 L 96.210938 256 Z M 200.25 333.375 L 173.398438 319.949219 L 244.058594 178.625 L 270.910156 192.050781 Z M 328.972656 317.578125 L 307.742188 296.351562 L 348.097656 256 L 307.742188 215.648438 L 328.972656 194.417969 L 390.550781 256 Z M 328.972656 317.578125 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"/>
                                        </g>
                                    </svg>
                                </div>
                                <div class="panel_pr">
                                    <p>STUDENTIK10</p>
                                </div>
                                <div class="panel_pr">
                                    <span>-10%</span>
                                </div>
                                <div class="panel_pr inferno">
                                    <a data-toggle="modal" data-target="#promoModal-2" class="info">
                                        i
                                    </a>
                                </div>
                                <div class="panel_pr">
                                    <p class="status_prom">не активирован</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ column_right }}
        </div>
    </div>
    {{ content_bottom }}
</div>

{{ footer }}

<!-- Modal -->
<div class="modal fade" id="promoModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Название промокода</h4>
            </div>
            <div class="modal-body">
                <h3>Заголовок</h3>
                <p>текст 1</p>
                <p>текст 2</p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate dolor facere fugit placeat, totam vero! Asperiores beatae, blanditiis dignissimos eaque error esse illo, ipsum mollitia perferendis placeat quam temporibus.</span>
                <ul>
                    <li>пункт1 пункт1 пункт1 </li>
                    <li>пункт2 пункт2 пункт2 </li>
                    <li>пункт3 пункт3 пункт3</li>
                </ul>
                <h3>Заголовок</h3>
                <p>текст 1</p>
                <p>текст 2</p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate dolor facere fugit placeat, totam vero! Asperiores beatae, blanditiis dignissimos eaque error esse illo, ipsum mollitia perferendis placeat quam temporibus.</span>
                <ul>
                    <li>пункт1 пункт1 пункт1 </li>
                    <li>пункт2 пункт2 пункт2 </li>
                    <li>пункт3 пункт3 пункт3</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="promoModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Название промокода</h4>
            </div>
            <div class="modal-body">
                <h3>Заголовок</h3>
                <p>текст 1</p>
                <p>текст 2</p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate dolor facere fugit placeat, totam vero! Asperiores beatae, blanditiis dignissimos eaque error esse illo, ipsum mollitia perferendis placeat quam temporibus.</span>
                <ul>
                    <li>пункт1 пункт1 пункт1 </li>
                    <li>пункт2 пункт2 пункт2 </li>
                    <li>пункт3 пункт3 пункт3</li>
                </ul>
                <h3>Заголовок</h3>
                <p>текст 1</p>
                <p>текст 2</p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate dolor facere fugit placeat, totam vero! Asperiores beatae, blanditiis dignissimos eaque error esse illo, ipsum mollitia perferendis placeat quam temporibus.</span>
                <ul>
                    <li>пункт1 пункт1 пункт1 </li>
                    <li>пункт2 пункт2 пункт2 </li>
                    <li>пункт3 пункт3 пункт3</li>
                </ul>
            </div>
        </div>
    </div>
</div>






