{{ header }}
<div class="wrap_content">
    {{ content_top }}
    <div class="container">
        <div class="row">
            {{ column_left }}
            <div class="center_content_resp">
                <div class="clearfix console_wrap">
                    <div class="clearfix search_panel">
                        <div class="heads">
                            <h2>{{ heading_title }}</h2>
                            <ul class="breadcrumb clearfix">
                                {% for breadcrumb in breadcrumbs %}
                                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="search_wrap">
                            <div class="upravlen_search">
                                <form id="page-search" action="{{ action }}" method="get">
                                    <div class="heads_search clearfix">
                                        <input type="text" class="search_palez" name="search" value="{{ search }}">
                                        <button type="submit" class="good_searc">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21"
                                                 viewBox="0 0 21 21" fill="none">
                                                <path d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875Z"
                                                      fill="#999999"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="variant_search clearfix">
                                        <label class="container_ch"> Аккаунты
                                            {% if search_customer == 1 %}
                                                <input type="checkbox" name="search_customer" value="1" checked>
                                            {% else %}
                                                <input type="checkbox" name="search_customer" value="1">
                                            {% endif %}
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_ch"> Заказы
                                            {% if search_order == 1 %}
                                                <input type="checkbox" name="search_order" value="1" checked>
                                            {% else %}
                                                <input type="checkbox" name="search_order" value="1">
                                            {% endif %}
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </form>
                            </div>

                            <div class="results clearfix">
                                {% if results %}
                                    <div class="page-{{ page }}">
                                        {% for result in results %}
                                            {% if result.type == 'customer' %}
                                                {% set customer = result %}
                                                <div class="item_s">
                                                    <div class="img_face clearfix">
                                                        <a href="{{ result.href }}"><img src="{{ result.image }}" alt="{{ result.login }}"></a>
                                                        {% if result.online %}<span></span>{% endif %}
                                                    </div>
                                                    <div class="info_worker clearfix">
                                                        <div class="lit_hed clearfix">
                                                            <a href="{{ customer.href }}">{{ result.login }}</a>
                                                            {% if result.pro %}<span class="premium">PREMIUM</span>{% endif %}
                                                        </div>
                                                        <div class="lit_foot clearfix">
                                                            <div class="enter clearfix">
                                                                <span class="name">{{ text_rating }}</span>
                                                                <span class="rating">{{ customer.rating }}</span>
                                                                {% if result.new_rating %}<span class="bonus">+{{ result.new_rating }}</span>{% endif %}
                                                            </div>
                                                            <div class="enter_like clearfix">
                                                                <img src="../catalog/assets/img/icons/like.svg">
                                                                <span class="like">{{ result.total_reviews_positive }}</span>
                                                                <img src="../catalog/assets/img/icons/dislike.svg">
                                                                <span class="dislike">{{ result.total_reviews_negative }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elseif result.type == 'order' %}
                                                <div class="item_s">
                                                    <a href="{{ result.href }}"><h4>{{ result.title }}</h4></a>
                                                    <p>{{ result.description }}</p>
                                                    <ul class="pagination_s clearfix">
                                                        <li>{{ result.section }}</li>
                                                        <li>{{ result.section }}</li>
                                                        <li>{{ result.subject }}</li>
                                                        <li>{{ result.order_status }}</li>
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% if total == limit %}
                                            <button class="show_more" onclick="loadMore({{ page + 1 }}, this);">Показать ещё</button>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    Поиск не дал результатов
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ column_right }}
        </div>
    </div>
    {{ content_bottom }}
</div>
<script type="text/javascript">
    $(document).on('submit', '#page-search', function(e) {
        e.preventDefault();
        location.href = searchUrl();
    });
    function loadMore(page, button) {
        $(button).remove();
        $('.results').append('<div class="page-' + page + '"><div class="btn-loader"></div></div>');
        $('.results .page-' + page).load(searchUrl() + '&page=' + page + ' .results > .page-' + page + ' > *');
    }
    function searchUrl() {
        var url = '';
        var search = $('#page-search').find('input[name=search]').val();
        if (search) {
            url += "&search=" + encodeURIComponent(search);
        }
        if ($('#page-search').find('input[name=search_customer]').prop('checked')) {
            url += "&search_customer=1";
        }
        if ($('#page-search').find('input[name=search_order]').prop('checked')) {
            url += "&search_order=1";
        }
        return $('#page-search').attr('action') + url;
    }

    function scrollTracking(){
        if (!$('.show_more').offset()) {
            return;
        }

        var wt = $(window).scrollTop();
        var wh = $(window).height();
        var et = $('.show_more').offset().top;
        var eh = $('.show_more').outerHeight();
        var dh = $(document).height();

        if (wt + wh >= et || wh + wt == dh || eh + et < wh){

            $('.show_more').trigger('click');
        }
    }

    $(window).scroll(function(){
        scrollTracking();
    });

    $(document).ready(function(){
        scrollTracking();
    });
</script>
{{ footer }}
