<div class="notification_top"></div>

<script src="../catalog/assets/js/select2.js?v={{ v }}"></script>
<script src="../catalog/assets/slick/slick.min.js?v={{ v }}"></script>
<script src="../catalog/assets/js/main.js?v={{ v }}"></script>
{% for script in scripts %}
    <script src="{{ script }}?v={{ v }}"></script>
{% endfor %}
</body>
</html>
