{{ header_landing }}

    <section id="form_main" class="header_lend">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="wrap_man">
                        <div class="zagol">
                            <h1>Studentik – срочная помощь студентам в написании работ</h1>
                            <p>Подбор материала, решение задач,<br> переводы и другая помощь от лучших экспертов</p>
                        </div>
                         <img  alt="studentik.online" src="../image/landing/fon2.webp">
                    </div>
                </div>
                <div class="col-7">
                    <div class="block_regist">
                        <div class="heads clearfix">
                            <h2>Нужна помощь с учебой?</h2>
                            <p>Разместите заказ на бирже и обсудите работу напрямую с исполнителем</p>
                        </div>
                        <!--<div class="mini_hed clearfix">
                            <p><span class="reed">Скидка 10% </span>на первый заказ по промокоду <span class="prom">STUD10</span></p>
                        </div>-->
                        <div id="formLand" class="form_bl clearfix ">
                            <form id="guest-order-form" action="{{ guest_order }}">
                                <div class="line_inp1 clearfix">
                                    <input type="text" name="title" value=""  placeholder="Введите название работы">
                                </div>
                                <div class="line_inp2 ff1 clearfix">
                                    <select name="subject" id="select-section-subject" class="tempSelectLand">
                                        <option value="0">{{ text_all_subject }}</option>
                                        {% for section in sections %}
                                            <optgroup label="{{ section.name }}">
                                                {% for subject in section.subjects %}
                                                    {% if subject.subject_id == subject_id %}
                                                        <option value="{{ subject.subject_id }}" selected>{{ subject.name }}</option>
                                                    {% else %}
                                                        <option value="{{ subject.subject_id }}">{{ subject.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="line_inp2 ff2 clearfix">
                                    <input type="email" name="email"  placeholder="E-mail">
                                </div>
                                <div class="line_inp2 ff3 clearfix">
                                    <select name="work_type" id="select-work-type" class="tempSelectLand">
                                        <option value="0">{{ text_all_work_type }}</option>
                                        {% for work_type in work_types %}
                                            {% if work_type.work_type_id == work_type_id %}
                                                <option value="{{ work_type.work_type_id }}" selected>{{ work_type.name }}</option>
                                            {% else %}
                                                <option value="{{ work_type.work_type_id }}">{{ work_type.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="line_inp2 ff4 clearfix">
                              {#      <input class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" name="date_end" placeholder="Срок сдачи" >
                                 #}
                                    <span class="pikst">Срок сдачи:</span>
                                    <input class="textbox-n" type="date"  id="date" name="date_end" placeholder="Срок сдачи" >
                                </div>
                            </form>
                        </div>
                        <!--<div class="promo_code">
                            <div class="life_promo clearfix">
                                <a class="open_promo">Есть промокод на скидку?</a>
                            </div>
                            <div class="hidden_promo">
                                <input id="input-promo-code" type="text" name="promo_code" value="" placeholder="Ваш промокод">
                                <span class="error">Промокод не найден</span>
                                <span class="good">Промокод будет активирован после оформления заказа</span>
                            </div>
                        </div>-->
                        <div class="footert clearfix">
                            <div class="left_rek clearfix">
                               <!-- <label class="container_lan">Я заказчик
                                    <input type="radio" checked="checked" name="radio">
                                    <span class="checkmark_lan"></span>
                                </label>
                                <label class="container_lan">Я автор
                                    <input type="radio" name="radio">
                                    <span class="checkmark_lan"></span>
                                </label>-->

                                <a href="/index.php?route=account/login&act=register">Вы автор?</a>


                            </div>
                            <div class="right_rek btn-loader-wrapper">
                                <button id="guest-order">Разместить заказ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).on('click', '#guest-order', function () {
                $('#guest-order-form').submit();
            })

            $(document).on('submit', '#guest-order-form', function (e) {
                e.preventDefault();
                $('.has-error').remove();
                $.ajax({
                    url : 'index.php?route=account/register/guestOrder',
                    method : 'post',
                    data : $('#guest-order-form input, #guest-order-form select'),
                    dataType : 'json',
                    beforeSend : function () {
                        $('#guest-order').btnLoading('on');
                    },
                    success : function (json) {
                        if (json['error_email']) {
                            $('#guest-order-form input[name=email]').before('<div class="has-error">' + json['error_email'] + '</div>');
                        }

                        if (json['error_subject']) {
                            $('#guest-order-form select[name=subject]').before('<div class="has-error">' + json['error_subject'] + '</div>');
                        }

                        if (json['error_work_type']) {
                            $('#guest-order-form select[name=work_type]').before('<div class="has-error">' + json['error_work_type'] + '</div>');
                        }

                        if (json['error_title']) {
                            $('#guest-order-form input[name=title]').before('<div class="has-error">' + json['error_title'] + '</div>');
                        }

                        if (json['error_warning']) {
                            $('#guest-order-form').before('<div class="has-error">' + json['error_warning'] + '</div>');
                        }
                        $('#guest-order').btnLoading('off');
                        if (json['redirect']) {
                            location.href = json['redirect'];
                        }
                    }
                });
            });
        </script>
    </section>


<section class="bac_fone">
    <div class="bg_absolut"></div>
</section>


            <section class="preim">
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <div class="wrap_work">
                                <div class="zagol">
                                    <h3>Studentik – ценит ваше время</h3>
                                    <p>Вы можете не заботиться об учебе и заниматься своими любимыми делами</p>
                                </div>
                                 <img  alt="studentik.online" src="../image/landing/fon4.webp">
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="oper opt1 clearfix">
                                <div class="preim_doort">
                                     <img  alt="studentik.online" src="../image/landing/employee2.webp">
                                    <span>Разместите заказ и получите <br> предложения с ценами экспертов</span>
                                </div>
                                 <img  alt="studentik.online" src="../image/landing/arrow2.webp" class="arrow_l">
                            </div>
                            <div class="oper opt2 clearfix">
                                 <img  alt="studentik.online" src="../image/landing/arrow1.webp" class="arrow_l">
                                <div class="preim_doort">
                                     <img  alt="studentik.online" src="../image/landing/employee.webp">
                                    <span>Выберите эксперта по подходящей цене <br> и хорошим отзывам</span>
                                </div>
                            </div>
                            <div class="oper opt3 clearfix">
                                <div class="preim_doort">
                                     <img  alt="studentik.online" src="../image/landing/check-list.webp">
                                    <span>Сдайте работу на проверку  <br> преподавателю</span>
                                </div>
                                 <img  alt="studentik.online" src="../image/landing/arrow2.webp" class="arrow_l">
                            </div>
                            <div class="oper opt4 clearfix">
                                 <img  alt="studentik.online" src="../image/landing/arrow1.webp" class="arrow_l">
                                <div class="preim_doort">
                                     <img  alt="studentik.online" src="../image/landing/medal.webp">
                                    <span>Получите положительную оценку и  <br> оставьте отзыв эксперту</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>





<section class="uslug">
    <div class="container">
        <div class="row">
           <div class="col-12">
               <h3>Популярные услуги</h3>
           </div>
            <div class="col-3">
                <a href="https://studentik.online/new-order/laboratornaya-rabota">
                    <div class="wariet">
                        <div class="wrap_img"> <img  alt="studentik.online" src="../../image/uslug/011-chemistry.svg"></div>
                        <span>Лабораторная</span>
                        <p>от <strong>500</strong> р.</p>
                    </div>
                </a>
            </div>
            <div class="col-3"> <a href="https://studentik.online/new-order/kursovaya-rabota">
                <div class="wariet">
                    <div class="wrap_img"> <img  alt="studentik.online" src="../../image/uslug/048-exam.svg"></div>
                    <span>Курсовая</span>
                    <p>от <strong>1 000</strong> р.</p>
                </div>  </a>
            </div>
            <div class="col-3">
                <a href="https://studentik.online/new-order/referat">
                <div class="wariet">
                    <div class="wrap_img"> <img  alt="studentik.online" src="../../image/uslug/001-referat.webp"></div>
                    <span>Реферат</span>
                    <p>от <strong>500</strong> р.</p>
                </div>  </a>
            </div>
            <div class="col-3">
                <a href="https://studentik.online/new-order/kontrolnaya-rabota">
                <div class="wariet">
                    <div class="wrap_img"> <img  alt="studentik.online" src="../../image/uslug/008-homework.svg"></div>
                    <span>Контрольная работа</span>
                    <p>от <strong>300</strong> р.</p>
                </div>
                </a>
            </div>

            <div class="col-12">
                <a href="/index.php?route=services/services" class="btn_gr">Все услуги</a>
            </div>
        </div>
    </div>
</section>






<section class="catacomba">
    <img  alt="studentik.online" src="../image/landing/student.webp" class="studenty">
     <img  alt="studentik.online" src="../image/landing/fon1.webp" class="books">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Наши преимущества</h3>
            </div>
            <div class="col-4">
                <div class="wariet">
                    <div class="wrap_img">
                         <img  alt="studentik.online" src="../image/landing/stopwatc.webp">
                    </div>
                    <p>Выполняем срочные заказы</p>
                    <span>Даже если сроки горят, наши эксперты выполнят работу в максимально кратчайшее время</span>
                </div>
            </div>
            <div class="col-4">
                <div class="wariet">
                    <div class="wrap_img">
                         <img  alt="studentik.online" src="../image/landing/hand.webp">
                    </div>
                    <p>Без посредников</p>
                    <span>Так как вы работаете напрямую с экспертами – цены ниже чем в агентствах</span>
                </div>
            </div>
            <div class="col-4">
                <div class="wariet">
                    <div class="wrap_img">
                         <img  alt="studentik.online" src="../image/landing/employees1.webp">
                    </div>
                    <p>Квалифицированные <br>специалисты</p>
                    <span>Мы проверяем уровень знаний наших экспертов и обеспечиваем высокий уровень качества</span>
                </div>
            </div>
            <div class="col-4">
                <div class="wariet">
                    <div class="wrap_img">
                         <img  alt="studentik.online" src="../image/landing/wooman.webp">
                    </div>
                    <p>Гарантия возврата денег</p>
                    <span>В случае, если что-то пойдет не так, мы гарантируем полный возврат уплаченной суммы</span>
                </div>
            </div>
            <div class="col-4">
                <div class="wariet">
                    <div class="wrap_img">
                         <img  alt="studentik.online" src="../image/landing/list.webp">
                    </div>
                    <p>Бесплатные корректировки и <br>доработки</p>
                    <span>Доработки и консультации в рамках задания совершенно бесплатны</span>
                </div>
            </div>
            <div class="col-4">
                <div class="wariet">
                    <div class="wrap_img">
                         <img  alt="studentik.online" src="../image/landing/telemarket.webp">
                    </div>
                    <p>Отзывчивая служба поддержки</p>
                    <span>Поможем с любыми трудностями</span>
                </div>
            </div>

        </div>
    </div>
</section>






<section class="otziv">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Отзывы</h3>
            </div>
            <div class="col-12">
                <div class="otziv_sl">
                    <div class="item_slick">
                        <div class="wariet">
                            <div class="wrap_img">
                                 <img  alt="studentik.online" src="../image/rev/dan.webp">
                            </div>
                             <img  alt="studentik.online" src="../image/landing/cher.webp" class="kavich">
                            <p>Даниил</p>
                            <span>Все очень качественно, быстро и не дорого, заказывал далеко не одну работу. Удачи и успехов этой бирже!</span>
                        </div>
                    </div>
                    <div class="item_slick">
                        <div class="wariet">
                            <div class="wrap_img">
                                 <img  alt="studentik.online" src="../image/rev/dmitr.webp">
                            </div>
                             <img  alt="studentik.online" src="../image/landing/cher.webp" class="kavich">
                            <p>Дмитрий</p>
                            <span>Часто пользуюсь услугами сайта, всегда качественное выполнение работ за приемлемую цену.</span>
                        </div>
                    </div>
                    <div class="item_slick">
                        <div class="wariet">
                            <div class="wrap_img">
                                 <img  alt="studentik.online" src="../image/rev/alin.webp">
                            </div>
                             <img  alt="studentik.online" src="../image/landing/cher.webp" class="kavich">
                            <p>Алина</p>
                            <span>Раньше заказывала работы через инстаграмм, теперь через биржу. Стало намного удобнее. Не нужно ждать пока менеджер свяжется с исполнителем. Можно напрямую поговорить с ним и обсудить детали работы) Спасибо за такую возможность!)</span>
                        </div>
                    </div>
                    <div class="item_slick">
                        <div class="wariet">
                            <div class="wrap_img">
                                 <img  alt="studentik.online" src="../image/rev/vikt.webp">
                            </div>
                             <img  alt="studentik.online" src="../image/landing/cher.webp" class="kavich">
                            <p>Виктор</p>
                            <span>Быстрый отклик экспертов, советую выбирать по рейтингу. В целом очень доволен сервисом)</span>
                        </div>
                    </div>
                    <div class="item_slick">
                        <div class="wariet">
                            <div class="wrap_img">
                                 <img  alt="studentik.online" src="../image/rev/anast.webp">
                            </div>
                             <img  alt="studentik.online" src="../image/landing/cher.webp" class="kavich">
                            <p>Анастасия</p>
                            <span>Горели сроки, обратилась сюда, сделали очень быстро. Очень благодарна за работу. Качественно и недорого!)</span>
                        </div>
                    </div>
                    <div class="item_slick">
                        <div class="wariet">
                            <div class="wrap_img">
                                 <img  alt="studentik.online" src="../image/rev/ksen.webp">
                            </div>
                             <img  alt="studentik.online" src="../image/landing/cher.webp" class="kavich">
                            <p>Ксения</p>
                            <span>Спасибо за решенные задачи по высшей математике. За 2 дня были решены 10 сложных заданий, так ещё и по хорошей цене. Советую!</span>
                        </div>
                    </div>
                    <div class="item_slick">
                        <div class="wariet">
                            <div class="wrap_img">
                                 <img  alt="studentik.online" src="../image/rev/egor.webp">
                            </div>
                             <img  alt="studentik.online" src="../image/landing/cher.webp" class="kavich">
                            <p>Егор</p>
                            <span>Заказываю работы именно на этой бирже, потому что общение напрямую с экспертами, а также, небольшая комиссия за гарантию сделки. Спасибо большое!</span>
                        </div>
                    </div>
                    <div class="item_slick">
                        <div class="wariet">
                            <div class="wrap_img">
                                 <img  alt="studentik.online" src="../image/rev/aleksn.webp">
                            </div>
                             <img  alt="studentik.online" src="../image/landing/cher.webp" class="kavich">
                            <p>Александр</p>
                            <span>Заказывал себе и одногруппникам, все задания исполнитель сделал верно. На указания, где-то что-то переделать - откликался без проблем!</span>
                        </div>
                    </div>
                    <div class="item_slick">
                        <div class="wariet">
                            <div class="wrap_img">
                                 <img  alt="studentik.online" src="../image/rev/mark.webp">
                            </div>
                             <img  alt="studentik.online" src="../image/landing/cher.webp" class="kavich">
                            <p>Марк</p>
                            <span>Курсовую сделали быстро. Защитился на оценку «Отлично». Круто, что на одном сайте можно заказать любые дисциплины, теперь пользуюсь только студентиком :)</span>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>





<section class="questions">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Остались вопросы?</h3>
            </div>
            <div class="col-12">

                <div class="faq_accd">
                    <button class="ac_faq clearfix">
                        <span class="name_k">Как разместить заказ?</span>
                         <img  alt="studentik.online" class="arrow_tr" src="../image/landing/arow_down.svg">
                    </button>
                    <div class="panelclim22">
                        <div class="cropke clearfix">
                            Чтобы разместить заказ на сайте, необходимо заполнить основную информацию по работе в главной форме. Далее необходимо подтвердить Email и заполнить оставшиеся требования (срок, описание, уникальность и т.д.). После размещения заказа в ленте, ожидайте откликов от экспертов.
                        </div>
                    </div>
                </div>
                <div class="faq_accd">
                    <button class="ac_faq clearfix">
                        <span class="name_k">Как выбрать исполнителя?</span>
                         <img  alt="studentik.online" class="arrow_tr" src="../image/landing/arow_down.svg">
                    </button>
                    <div class="panelclim22">
                        <div class="cropke clearfix">
                            Чтобы выбрать эксперта, нужно перейти на страницу заказа. Затем, нажмите на кнопку «Выбрать исполнителя» и перейдите к оплате. При выборе исполнителя обращайте внимание на его отзывы и рейтинг.
                        </div>
                    </div>
                </div>
                <div class="faq_accd">
                    <button class="ac_faq clearfix">
                        <span class="name_k">Как отправить заказ на доработку?</span>
                         <img  alt="studentik.online" class="arrow_tr" src="../image/landing/arow_down.svg">
                    </button>
                    <div class="panelclim22">
                        <div class="cropke clearfix">
                            Если вдруг выполненная экспертом работа не соответствует требованиям заказа, то ее можно отправить на доработку. Чтобы это сделать, нужно зайти на страницу заказа и нажать на кнопку «Отправить на доработку». Затем необходимо добавить замечания в комментарии к ставке или в личные сообщения исполнителю.
                        </div>
                    </div>
                </div>
                <div class="faq_accd">
                    <button class="ac_faq clearfix">
                        <span class="name_k">Что такое гарантийный срок?</span>
                         <img  alt="studentik.online" class="arrow_tr" src="../image/landing/arow_down.svg">
                    </button>
                    <div class="panelclim22">
                        <div class="cropke clearfix">
                            В течение этого срока вы можете отправить заказ на доработку. Эксперт со своей стороны обязан исправить замечания, если изначально задание не изменилось. Гарантийный срок равен 365 дней с того момента, как готовая работа была скачена.
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-12">
                <a href="/faq" class="btn_gr">У меня другой вопрос</a>
            </div>
        </div>
    </div>
</section>




<section class="neo">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="wariet clearfix">
                    <div class="wrap_img">
                         <img  alt="studentik.online" src="../image/landing/bakalavr.webp">
                    </div>
                    <div class="contects">
                        <span>Для заказчиков</span>
                        <p>Теперь вы знаете все. Разместите задание и проверьте, как работает сервис.
                            Это быстро и бесплатно!</p>
                        <a href="#form_main" class="darck">Разместить задание</a>
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="wariet clearfix">
                    <div class="wrap_img">
                         <img  alt="studentik.online" src="../image/landing/employee.webp">
                    </div>
                    <div class="contects">
                        <span>Для экспертов</span>
                        <p>Оказывайте помощь студентам и зарабатывайте! Никаких посредников.</p>
                        <a href="/index.php?route=account/login&act=register" class="ligt">Стать экспертом</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row">
            <div class="clearfix rowall">
                <div class="col-4">
                    <div class="logo">
                        <a href="/"> <img  alt="studentik.online" src="../image/landing/logo.webp"></a>
                        <p>Используя “Studentik”, вы принимаете <br>
                            <a href="/index.php?route=information/information&information_id=5">пользовательское соглашение</a> и <a href="/index.php?route=information/information&information_id=3">политику <br>
                            обработки персональных данных</a></p>
                    </div>
                </div>
                <div class="col-5">
                    <div class="sub_menu">
                        <ul class=" clearfix">
                            <li><a href="/orders">Лента заказов</a></li>
                            <li><a href="/services">Услуги</a></li>
                            <li><a href="/experts">Рейтинг авторов</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <!--<li><a href="#">Партнерам</a></li>-->
                        </ul>
                    </div>
                    <div class="social">
                        <ul class=" clearfix">
                            <li> <img  alt="studentik.online" src="../image/landing/mir.webp" ></li>
                            <li> <img  alt="studentik.online" src="../image/landing/master.webp" ></li>
                            <li> <img  alt="studentik.online" src="../image/landing/visa.webp" ></li>
                            <li> <img  alt="studentik.online" src="../image/landing/qiwi.webp" ></li>
                            <li> <img  alt="studentik.online" src="../image/landing/yandex.webp" ></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="colling">
                        <span>Служба поддержки:</span>
                        {#<a href="tel:{{ telephone }}" class="phone"> {{ telephone }}</a>#}
                        <a href="mailto:{{ email }}" class="mail">{{ email}}</a>
                        <ul class="massengers clearfix">
                            <li><a href="tg://resolve?domain=studentikonline"> <img  alt="studentik.online" src="../image/landing/tg.svg"></a></li>
                            <li><a target="_blank" href="https://vk.com/studentik.online"> <img  alt="studentik.online" src="../image/landing/vk.svg"></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/studentik.online/"> <img  alt="studentik.online" src="../image/landing/insta.svg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>





{{ footer }}
