{{ header }}
<div class="container_body_chat clearfix">
    <div class="container_chat clearfix">
        <div class="col-3_flex">
            {{ column_left }}
        </div>
        <div class="col-9_flex clearfix">
            <div class="outer_cont_flex clearfix">
                <div class="col_inner_flex9 clearfix">
                    {{ chat }}
                </div>
                <div class="col_inner_flex3 clearfix">
                    <button class="open_left_colmn_flex">
                        <svg class="op" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="45.532px" height="45.532px" viewBox="0 0 45.532 45.532" style="enable-background:new 0 0 45.532 45.532;" xml:space="preserve"><g><path d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765   S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53   c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012   c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592   c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z"/></g></svg>
                        <svg class="cl" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve"><path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872    c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872    c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052    L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116    c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952    c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116    c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"></path></svg>
                    </button>

                    <div class="info_for_user">
                        <div class="heder_user_info clearfix">
                            <div class="need_ch clearfix">
                                <button class="all_chat">Все</button>
                                <button class="no_read">Не прочитанные</button>
                            </div>
                            <div class="search_group clearfix">
                                <form id="chat-search">
                                    <input type="text" name="search" placeholder="Поиск бесед">
                                    <img src="catalog/assets/img/icons/search.svg" alt="">
                                </form>
                            </div>
                        </div>
                        <div class="list_speeker">
                            {{ chat_list }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<script>
    $( document ).ready(function() {
        function getWindowWidth() {
            return window.innerWidth || document.body.clientWidth;
        }

        if (getWindowWidth() <= 767) {
            $('.col_inner_flex3').addClass('open_l');
        }

    });


</script>


<style>

    @media (min-width: 992px) and (max-width: 5000px){
        header {
            padding: 10px 0 10px 0;
            height: 77px;
        }
    }


</style>
{{ footer }}


