{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-message').submit() : false;"><i class="fa fa-trash-o"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">{% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div id="filter-withdrawal"
                 class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" for="input-search">{{ entry_search }}</label>
                            <input type="text" name="search" value="{{ search }}"
                                   placeholder="{{ entry_search }}" id="input-search" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-sender">{{ entry_sender }}</label>
                            <input type="text" name="filter_sender" value="{{ filter_sender }}"
                                   placeholder="{{ entry_sender }}" id="input-sender" class="form-control"/>
                            <input type="hidden" name="filter_sender_id" value="{{ filter_sender_id }}">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-recipient">{{ entry_recipient }}</label>
                            <input type="text" name="filter_recipient" value="{{ filter_recipient }}"
                                   placeholder="{{ entry_recipient }}" id="input-recipient" class="form-control"/>
                            <input type="hidden" name="filter_recipient_id" value="{{ filter_recipient_id }}">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-viewed">Статус</label>
                            <select id="input-viewed" name="filter_viewed" class="form-control">
                                <option value="" selected>-- Не выбран --</option>
                                {% if filter_viewed == '0' %}
                                    <option value="0" selected>Не прочитано</option>
                                {% else %}
                                    <option value="0">Не прочитано</option>
                                {% endif %}
                                {% if filter_viewed == 1 %}
                                    <option value="1" selected>Прочитано</option>
                                {% else %}
                                    <option value="1">Прочитано</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group text-right">
                            <button type="button" id="button-clear" class="btn btn-danger"><i
                                        class="fa fa-paint-brush"></i> Очистить</button>
                            <button type="button" id="button-filter" class="btn btn-primary"><i
                                        class="fa fa-filter"></i> {{ button_filter }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-md-pull-3 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                    </div>
                    <div class="panel-body">

                        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-message">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                                                    <td class="text-left">Отправитель</td>
                                                    <td class="text-left">Получатель</td>
                                                    <td class="text-left">Текст</td>
                                                    <td class="text-left">Файлы</td>
                                                    <td class="text-left">Статус</td>
                                                    <td class="text-left">{% if sort == 'o.date_added' %} <a href="{{ sort_date_added }}" class="{{ order|lower }}">Дата отправки</a> {% else %} <a href="{{ sort_date_added }}">Дата отправки</a> {% endif %}</td>
                                                    <td>Просмотр</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        <tr><td class="text-center">{% if message.message_id in selected %}
                                                            <input type="checkbox" name="selected[]" value="{{ message.message_id }}" checked="checked" />
                                                            {% else %}
                                                            <input type="checkbox" name="selected[]" value="{{ message.message_id }}" />
                                                            {% endif %}</td>
                                                            <td class="text-left">
                                                                {% if message.sender %}
                                                                <a href="{{ message.sender.href }}"
                                                                   target="_blank">{{ message.sender.login }}</a>
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-left">
                                                                {% if message.recipient %}
                                                                <a href="{{ message.recipient.href }}"
                                                                   target="_blank">{{ message.recipient.login }}</a>
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-left" style="padding: 0">
                                                                <div style="max-height: 100px; overflow: auto; padding: 5px">{{ message.text }}</div>
                                                            </td>
                                                            <td class="text-left">
                                                                {% if message.attachments %}
                                                                {% for attachment in message.attachments %}
                                                                    <a href="{{ attachment.href }}" target="_blank">{{ attachment.name }}</a><br>
                                                                {% endfor %}
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-left">
                                                                {% if message.viewed == 0 %}
                                                                    Не прочитано
                                                                {% else %}
                                                                    прочитано
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-left">{{ message.date_added }}</td>
                                                            <td class="text-left"><a class="btn btn-info" href="{{ message.view_chat }}"><i class="fa fa-eye"></i></a></td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <tr>
                                                        <td class="text-center" colspan="9">{{ text_no_results }}</td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 text-left">{{ pagination }}</div>
                                <div class="col-sm-6 text-right">{{ results }}</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#button-filter').on('click', function() {
        url = '';

        var filter_sender_id = $('input[name=\'filter_sender_id\']').val();

        if (filter_sender_id) {
            url += '&filter_sender_id=' + encodeURIComponent(filter_sender_id);

            var filter_sender = $('input[name=\'filter_sender\']').val();

            if (filter_sender) {
                url += '&filter_sender=' + encodeURIComponent(filter_sender);
            }
        }

        var filter_recipient_id = $('input[name=\'filter_recipient_id\']').val();

        if (filter_recipient_id) {
            url += '&filter_recipient_id=' + encodeURIComponent(filter_recipient_id);

            var filter_recipient = $('input[name=\'filter_recipient\']').val();

            if (filter_recipient) {
                url += '&filter_recipient=' + encodeURIComponent(filter_recipient);
            }
        }

        var search = $('input[name=\'search\']').val();

        if (search) {
            url += '&search=' + encodeURIComponent(search);
        }

        var filter_viewed = $('select[name=\'filter_viewed\']').val();

        if (filter_viewed == '0' || filter_viewed == '1') {

            url += '&filter_viewed=' + encodeURIComponent(filter_viewed);
        }

        location = 'index.php?route=message/message&user_token={{ user_token }}' + url;
    });

    $('#button-clear').on('click', function() {
        location = 'index.php?route=message/message&user_token={{ user_token }}';
    });

    $('#input-sender').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_login=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    json.unshift({
                        customer_id: '0',
                        login: '{{ text_none }}'
                    });

                    response($.map(json, function(item) {
                        return {
                            label: item['login'],
                            value: item['customer_id'],
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            // Reset all custom fields
            $('#filter-withdrawal input[name=\'filter_sender\']').val(item['label']);
            $('#filter-withdrawal input[name=\'filter_sender_id\']').val(item['value']);
        }
    });

    $('#input-recipient').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_login=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    json.unshift({
                        customer_id: '0',
                        login: '{{ text_none }}'
                    });

                    response($.map(json, function(item) {
                        return {
                            label: item['login'],
                            value: item['customer_id'],
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            // Reset all custom fields
            $('#filter-withdrawal input[name=\'filter_recipient\']').val(item['label']);
            $('#filter-withdrawal input[name=\'filter_recipient_id\']').val(item['value']);
        }
    });
</script>
{{ footer }}
